{{page-title "Bullying verbal"}}
{{outlet}}
  <div class="absolute inset-0 bg-top bg-no-repeat bg-illustration-01"></div>
    <div
      class="absolute inset-0 bg-center bg-no-repeat bg-illustration-02"
    ></div>
    <div class="container relative bg-black">
      <div class="flex items-center justify-between py-6">
        <LinkTo @route="home">
          <img class="block animate-pulse" style="height: 50px;" src="https://public-bullyin.cdn.seghedi.com/Logo-Icon-Vectorial.svg" alt="" />
        </LinkTo>
        <div class="flex items-center mb-4 md:block">
          <LinkTo class="bg-red-600 btn hover:bg-red-500" @route="home"
            >Înapoi acasă</LinkTo
          >
        </div>
      </div>
      <h1
        class="px-8 mt-16 mb-4 text-5xl font-extrabold leading-tight text-center text-white xl:text-6xl"
      >
        Bullying <span class="text-red-700">verbal</span>.
      </h1>
      <p class="max-w-xl mx-auto mb-8 text-xl text-center xl:max-w-2xl">
        Hărțuirea verbală, poate începe ca o simplă tachinare sau o ușoară insultă. Acest lucru poate escalada rapid în violență verbală care provoacă prejudicii grave victimei sale.
    </p>
      <div class="mb-10">
        <img
          class="block w-full max-w-5xl mx-auto rounded"
          src="https://public-bullyin.cdn.seghedi.com/articles/bullying_verbal-2.jpg"
          alt=""
        />
      </div>
      <p class="max-w-xl mx-auto mb-8 text-xl text-center xl:max-w-2xl">
        Hărțuirea verbală, poate începe ca o simplă tachinare sau o ușoară insultă. Acest lucru poate escalada rapid în violență verbală care provoacă prejudicii grave victimei sale.
        Este caracterizat de acțiuni verbale sau scrise, rău intenționate, cum ar fi <b>șicanarea, injuriile, comentariile sexuale neadecvate, folosirea sarcasmului,
         amenințările, criticiile, un limbaj neadecvat</b>.
         <br><br>
         Bullying-ul social are efecte negative asupra sănătății mentale a victimei și a familiei acesteia, atât pe termen scurt, cât și pe termen lung.
Efectele acestui fenomen pot fi: izolare socială, tulburări ale somnului, scăderea stimei de sine, apariția unui sentiment de rușine, performanțe școlare reduse din cauza scăderii capacității de concentrare.
      </p>
      <div
        class="flex flex-col items-center px-4 py-8 mb-16 bg-red-700 bg-right-bottom bg-no-repeat bg-cover sm:flex-row sm:py-16 sm:px-12"
        style="background-image: url('img/cta-illustration.svg')"
      >
        <h2
          class="max-w-xs mx-auto mb-10 text-2xl font-bold text-center text-white sm:text-3xl sm:mr-10 sm:max-w-full sm:text-left sm:w-1/3 sm:mx-0 sm:mb-0 md:w-1/2 lg:w-7/12"
        >
          De data aceasta schimbăm ceva.
        </h2>
      </div>
      <div class="flex flex-wrap justify-between space-x-4 sm:space-x-0">
        <a class="text-red-700" href="https://bullyin.ro" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/Logo-Icon-Vectorial.svg" style="height: 80px;" alt="" class="mx-auto mb-4" />
        </a>
        <a class="text-red-700" href="https://cjarges.ro/" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/new/ATOP2.png" style="height: 80px;" alt="" class="mx-auto mb-4" />
        </a>
        <a class="text-red-700" href="https://cjarges.ro/" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/layout_set_logo.png" style="height: 80px;" alt="" class="mx-auto mb-4" />
        </a>
        <a class="text-red-700" href="https://www.facebook.com/dgaspcARGES/" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/sigla_dgaspc.png" style="height: 60px;" alt="" class="mb-2 mt-2"/>
        </a>
        <a class="text-red-700" href="https://ag.politiaromana.ro" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/new/logoipj2.png" style="height: 80px;" alt="" class="mx-auto mb-4" />
        </a>
        <a class="text-red-700" href="http://www.politialocalapitesti.ro/" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/new/plppitesti.png" style="height: 80px;" alt="" class="mx-auto mb-4" />
        </a>
        <a class="text-red-700" href="https://isjarges.ro" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/new/isj2.png" style="height: 80px;" alt="" class="mx-auto mb-4" />
        </a>
        <a class="text-red-700" href="https://www.jandarmeriaarges.ro" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/new/ijj2.png" style="height: 80px;" alt="" class="mx-auto mb-4" />
        </a>
        <a class="text-red-700" href="https://cjearges.ro" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/Asset+4%407xwhite.png" style="height: 80px;" alt="" class="mx-auto mb-4" />
        </a>
      </div>
      <div class="flex flex-col justify-between mb-8 text-center sm:flex-row">
        <p class="order-last mb-4 text-sm text-gray-500 sm:order-first">
          Designed by
          <a href="https://cjearges.ro/" class="text-white">CJE Argeș</a>. Coded by
          <a href="https://seghedi.com/" class="text-white">Robert Seghedi</a>
        </p>
        <ul class="flex flex-row justify-center mb-6 -ml-4 -mr-4 text-sm">
          <li>
            <LinkTo @route="contact" class="px-4 text-gray-500 hover:text-white">Contact</LinkTo>
          </li>
          <li>
            <a href="https://instagram.com/bullyin.ro" target="_blank" class="px-4 text-gray-500 hover:text-white">Instagram</a>
          </li>
          <li>
            <a href="https://fb.me/bullyin.ro" target="_blank" class="px-4 text-gray-500 hover:text-white">Facebook</a>
          </li>
        </ul>
      </div>
    </div>