{{page-title "Legislație"}}
{{outlet}}
  <div class="absolute inset-0 bg-top bg-no-repeat bg-illustration-01"></div>
    <div
      class="absolute inset-0 bg-center bg-no-repeat bg-illustration-02"
    ></div>
    <div class="container relative bg-black">
      <div class="flex items-center justify-between py-6">
       <LinkTo @route="home">
          <img class="block animate-pulse" style="height: 50px;" src="https://public-bullyin.cdn.seghedi.com/Logo-Icon-Vectorial.svg" alt="" />
       </LinkTo>
        <div class="flex items-center mb-4 md:block">
          <LinkTo class="bg-red-600 btn hover:bg-red-500" @route="home"
            >Înapoi acasă</LinkTo
          >
        </div>
      </div>
      <h1
        class="px-8 mt-16 mb-4 text-5xl font-extrabold leading-tight text-center text-white xl:text-6xl"
      >
        Puțină <span class="text-red-700">legislație</span>.
      </h1>
      <p class="max-w-xl mx-auto mb-8 text-xl text-center xl:max-w-2xl">
        Fenomenul de bullying are un cadru legal, de care autoritățile se pot folosi în vederea rezolvării tuturor cazurilor.
    </p>
      <div class="mb-10">
        <img
          class="block w-full max-w-5xl mx-auto rounded"
          src="https://public-bullyin.cdn.seghedi.com/police-car-night-2.jpg"
          alt=""
        />
      </div>
      <p class="max-w-xl mx-auto mb-8 text-xl text-center xl:max-w-4xl">
        <span class="text-red-700 font-bold">Bullying-ul poate fi pedepsit prin lege</span>, <b>deși acesta nu este definit prin neologismul preluat din limba engleză (bullying)</b>, este definit ca hărțuire, deranjarea ordinii publice, protecţia şi promovarea drepturilor copilului etc.
        <br><br>
<b>Codul Penal, <span class="text-red-700">Art. 113</span> - </b>
 <br>
<span class="text-red-700 font-bold">(1)</span> Minorul care nu a împlinit vârsta de 14 ani nu răspunde penal.
 <br>
<span class="text-red-700 font-bold">(2)</span> Minorul care are vârsta între 14 şi 16 ani răspunde penal numai dacă se dovedeşte că a săvârşit fapta cu discernământ.
 <br>
<span class="text-red-700 font-bold">(3)</span> Minorul care a împlinit vârsta de 16 ani răspunde penal potrivit legii.
<br><br>
<b>În Codul Penal, capitolul VI, <span class="text-red-700">art. 206</span>, alin. 1</b>, Fapta de a ameninţa o persoană cu săvârşirea unei infracţiuni sau a unei fapte păgubitoare îndreptate împotriva sa ori a altei persoane, dacă este de natură să îi producă o stare de temere, <span class="font-bold text-red-700">se pedepseşte cu închisoare de la 3 luni la un an sau cu amendă</span>, fără ca pedeapsa aplicată să poată depăşi sancţiunea prevăzută de lege pentru infracţiunea care a format obiectul ameninţării.
<br><br>
<span class="text-red-700 font-bold">Art. 208</span> <b>- Hărţuirea</b>
<br>
<span class="text-red-700 font-bold">(2)</span> Efectuarea de apeluri telefonice sau comunicări prin mijloace de transmitere la distanţă, care, prin frecvenţă sau conţinut, îi cauzează o temere unei persoane, <span class="text-red-700 font-bold">se pedepseşte cu închisoare de la o lună la 3 luni sau cu amendă</span>, dacă fapta nu constituie o infracţiune mai gravă. 
<br>
<span class="text-red-700 font-bold">(3)</span> Acţiunea penală se pune în mişcare la plângerea prealabilă a persoanei vătămate.
<br><br>
<span class="text-red-700 font-bold">Art. 325</span> <b>- Falsul informatic</b><br> - Fapta de a introduce, modifica sau şterge, fără drept, date informatice ori de a restricţiona, fără drept, accesul la aceste date, rezultând date necorespunzătoare adevărului, în scopul de a fi utilizate în vederea producerii unei consecinţe juridice, constituie infracţiune şi <span class="text-red-700 font-bold">se pedepseşte cu închisoarea de la unu la 5 ani</span>.
<br><br>
<span class="text-red-700 font-bold">Art. 374</span> - <span class="text-red-700 font-bold">(1)</span> Producerea, deţinerea în vederea expunerii sau distribuirii, achiziţionarea, stocarea, expunerea, promovarea, distribuirea, precum şi punerea la dispoziţie, în orice mod, de materiale pornografice cu minori se pedepsesc cu închisoarea de la un an la 5 ani.
<br><span class="text-red-700 font-bold">(2)</span> Dacă faptele prevăzute în alin. (1) au fost săvârşite printr-un sistem informatic sau alt mijloc de stocare a datelor informatice, pedeapsa este închisoarea de la 2 la 7 ani.
<br><span class="text-red-700 font-bold">(3)</span> Accesarea, fără drept, de materiale pornografice cu minori, prin intermediul sistemelor informatice sau altor mijloace de comunicaţii electronice, se pedepseşte cu închisoare de la 3 luni la 3 ani sau cu amendă.
<br><span class="text-red-700 font-bold">(4)</span> Prin materiale pornografice cu minori se înţelege orice material care prezintă un minor având un comportament sexual explicit sau care, deşi nu prezintă o persoană reală, simulează, în mod credibil, un minor având un astfel de comportament.
De asemenea, orice copil are dreptul la protejarea imaginii sale publice, el neputând fi filmat fără consimţământul părinţilor.
<br><br><b>La cine poţi apela dacă drepturile tale au fost încălcate?</b>
<br>
Sunând la Telefonul Copilului – <span class="text-red-700 font-bold">119</span> - primeşti informaţii şi consiliere cu privire la promovarea şi respectarea drepturilor copiilor şi îndrumare către instituţiile în măsură să acorde asistenţa necesară.
<br><br>
Direcţia Generală de Asistenţă Socială şi Protecţia Copilului (DGASPC) este autoritatea care se ocupă de politicile şi strategiile de asistenţă socială în domeniul protecţiei copilului, familiei, persoanelor singure, persoanelor vârstnice, persoanelor cu handicap, precum şi a oricăror persoane aflate în nevoie.
<br><br>
Conform Legii nr. 272/2004, privind protecţia şi promovarea drepturilor copilului, republicată: Şi copilul care a comis o infracţiune trebuie protejat atunci când el nu este suficient dezvoltat fizic şi psihic şi nu răspunde penal. El va fi dat spre îngrijire şi educare unui cadru/centru specializat ori unei familii sau va fi instituită asupra sa supravegherea specializată. 
<br><br>
Conform Legii nr. 61/1991, pentru sancţionarea faptelor de încălcare a unor norme de convieţuire socială, a ordinii şi liniştii publice, republicată:
Art. 2-Constituie contraventie savarsirea oricareia dintre urmatoarele fapte, daca nu sunt comise in astfel de conditii incat, potrivit legii penale, sa fie considerate infractiuni:
1. savarsirea in public de fapte, acte sau gesturi obscene, proferarea de injurii, expresii jignitoare sau vulgare, amenintari cu acte de violenta impotriva persoanelor sau bunurilor acestora, de natura sa tulbure ordinea si linistea publica sau sa provoace indignarea cetatenilor ori sa lezeze demnitatea si onoarea acestora sau a institutiilor publice;
        </p>
      <div
        class="flex flex-col items-center px-4 py-8 mb-16 bg-red-700 bg-right-bottom bg-no-repeat bg-cover sm:flex-row sm:py-16 sm:px-12"
        style="background-image: url('img/cta-illustration.svg')"
      >
        <h2
          class="max-w-xs mx-auto mb-10 text-2xl font-bold text-center text-white sm:text-3xl sm:mr-10 sm:max-w-full sm:text-left sm:w-1/3 sm:mx-0 sm:mb-0 md:w-1/2 lg:w-7/12"
        >
          De data aceasta schimbăm ceva.
        </h2>
      </div>
      <div class="flex flex-wrap justify-between space-x-8 sm:space-x-0">
        <a class="text-red-700" href="https://bullyin.ro" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/Logo-Icon-Vectorial.svg" style="height: 40px;" alt="" class="mx-auto mb-4" />
        </a>
        <a class="text-red-700" href="https://cjarges.ro/" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/layout_set_logo.png" style="height: 40px;" alt="" class="mx-auto mb-4" />
        </a>
        <a class="text-red-700" href="https://cjearges.ro" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/Asset+4%407xwhite.png" style="height: 40px;" alt="" class="mx-auto mb-4" />
        </a>
        <a class="text-red-700" href="https://ag.politiaromana.ro" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/logo_main.png" style="height: 40px;" alt="" class="mx-auto mb-4" />
        </a>
        <a class="text-red-700" href="https://www.jandarmeriaarges.ro" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/Logo-IJJ.png" style="height: 40px;" alt="" class="mx-auto mb-4" />
        </a>
        <a class="text-red-700" href="https://isjarges.ro" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/siglaisj.png" style="height: 40px;" alt="" class="mx-auto mb-4" />
        </a>
        <a class="text-red-700" href="https://www.facebook.com/dgaspcARGES/" target="_blank" rel="noopener noreferrer">
          <img src="https://public-bullyin.cdn.seghedi.com/logos/sigla_dgaspc.png" style="height: 40px;" alt="" class="mx-auto mb-4" />
        </a>
        <div class="flex flex-row justify-center mb-4 -ml-4 -mr-4">
          <a href="https://www.facebook.com/cjearges" target="_blank" class="p-4 text-red-700 hover:text-red-400">
            <svg
              class="fill-current"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z"
                fill="currentColor"
              ></path>
            </svg>
          </a>
          <a href="https://www.instagram.com/cjearges/" target="_blank" class="p-4 text-red-700 hover:text-red-400">
            <svg
              class="fill-current"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <circle cx="12.145" cy="3.892" r="1"></circle>
                <path
                  d="M8 12c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4zm0-6c-1.103 0-2 .897-2 2s.897 2 2 2 2-.897 2-2-.897-2-2-2z"
                  fill="currentColor"
                ></path>
                <path
                  d="M12 16H4c-2.056 0-4-1.944-4-4V4c0-2.056 1.944-4 4-4h8c2.056 0 4 1.944 4 4v8c0 2.056-1.944 4-4 4zM4 2c-.935 0-2 1.065-2 2v8c0 .953 1.047 2 2 2h8c.935 0 2-1.065 2-2V4c0-.935-1.065-2-2-2H4z"
                  fill="currentColor"
                ></path>
              </g>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex flex-col justify-between mb-8 text-center sm:flex-row">
        <p class="order-last mb-4 text-sm text-gray-500 sm:order-first">
          Designed by
          <a href="https://cjearges.ro/" class="text-white">CJE Argeș</a>. Coded by
          <a href="https://seghedi.com/" class="text-white">Robert Seghedi</a>
        </p>
        <ul class="flex flex-row justify-center mb-6 -ml-4 -mr-4 text-sm">
          <li>
            <LinkTo @route="contact" class="px-4 text-gray-500 hover:text-white">Contact</LinkTo>
          </li>
        </ul>
      </div>
    </div>